@font-face {
  font-family: 'Palatino';
  src: url('type/palladio.ttf') format('truetype');
}

html {
  height: 100%;
}

body{
  height: 100%;
  color: #222;
  /*background: #fff url('images/whitey_@2X.png');
  background-size: 654px 654px;*/
}

header {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer {
  position: relative;
  top: -4%;
  margin: 0 auto;
  text-align: center;
}

.page {
  width: 92%;
  height: 82%;
  padding-left:1%;
  margin: 0 auto;
  margin-top: 5%;
}

.col {
  text-align: center;
  margin-left: 6%;
  width: 25%;
  float: left;
  border-bottom: 2px solid #000;

}

.social-icon{
    display: inline-block;
    cursor: hand;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 5px;
    -webkit-mask-size: 40px 40px;
    background: -webkit-linear-gradient(bottom left, #555, #222);
}

.social-icon:hover{
    background: DarkBlue;
}

#fb_icon{
    -webkit-mask-image: url(images/fb.png);
}

#tw_icon{
    -webkit-mask-image: url(images/tw.png);
}

#gh_icon{
    -webkit-mask-image: url(images/gh.png);
}

#gp_icon{
    -webkit-mask-image: url(images/gp.png);
}

#in_icon{
    -webkit-mask-image: url(images/in.png);
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-family: 'Palatino', Times, serif;
  font-size: 1.2em;
}

p {
  font-family: 'Palatino', Times, serif;
  font-size: 1em;
  text-indent: 1em;
  text-align: justify;
}

p.ni {
  text-indent: 0;
}

a {
  color: MediumBlue;
}