
h3{
  text-align: center;
}

p.first{
  text-indent: 2em;
}

p.border{
  border-bottom: 1px solid #ddd;
}

.completed {
  color: #3A87AD;
}

.in-progress {
  color: #468847;
}

.planned {
  color: #F89406;
}

.grey {
  color: #555;
}

.center {
  text-align: center;
}

.vpad {
  height: 2em;
}

.super {
  position: relative;
  top: -5px;
  left: 2px;
}

.container .credit{
  margin: 20px 0;
}

#footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  background: #3e3e3e;
}

#footer a{
  color: #fff;
}

#footer a:hover{
  color: #eee;
}

